parameters:
  level: max
  paths:
    - src/

  reportUnmatchedIgnoredErrors: false
  
  ignoreErrors:
    - '#HasFactory is not generic#'
    - '#BelongsTo is not generic#'
    - '#Builder is not generic#'
    - '#HasMany is not generic#'
